button{
    background-color: rgb(177, 177, 177);
    border-radius: 25px;
    font-family: Arial, Helvetica, sans-serif;
    border-color:black;
    box-shadow:110cm;}

body{
    background-color: rgb(177, 177, 177);
    color:black ;
    margin-left: 25%;
    margin-right:25% ;
    margin-top:5%;
    margin-bottom:5%;
}
